<!--Barra de Navegacion-->
<nav class="navbar navbar-default">
        <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand">English Backend</a>
        </div>

        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">

                 <li><a href="http://localhost:3000/home/">Home</a></li>
                 <li><a href="http://localhost:3000/home/verbs">Verbs</a></li>
                 <li><a href="http://localhost:3000/home/examples">Examples</a></li>
            </ul>
        </div>
</nav>