<!DOCTYPE html>
<html lang="en">
    <%- include('./global/header') -%>
  <body>
      <%- include('./global/nav') -%>
      <div id="contenedor" class="container">
        
        Home: José Manuel Delgado Trueba

      </div>
  </body>
</html>