<form>
        <label>Ejemplo: </label>
        <label id="myEjemplo"></label>
        <br/>
        
        <button id="Obtener" type="button" class="btn btn-primary">Obtener</button>
        <button id="Actualizar" type="button" class="btn btn-warning">Actualizar</button>
        <button id="Eliminar" type="button" class="btn btn-danger">Eliminar</button>
    </form>