<table class="table table-striped">
        <thead>
            <tr>
                <th>Verb</th>
                <th>Verb Id</th>
                <th>_id</th>
                <th>Context</th>
            </tr>
        </thead>
        <tbody id="tablaExamples">
                  
        </tbody>
    </table>