<!-- Modal -->
<div class="modal fade" id="crearEjemplo" role="dialog">
    <div class="modal-dialog">
                
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close btnModal" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Verb</h4>
            </div>

            <div id="modal_contenido" class="modal-body">
            
            <form class="form-horizontal">

                <div class="form-group">
                    <label class="control-label col-sm-2">VerbID:</label>
                    <div class="col-sm-10">
                        <div class="well well-sm" id="objId_Example"></div>
                    </div>
                  </div>
                    
            <div class="form-group">
              <label class="control-label col-sm-2" for="verb">Context:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="context">
              </div>
            </div>
                    
                  <div class="form-group">
              <label class="control-label col-sm-2" for="past">Example:</label>
              <div class="col-sm-10">
                  <textarea class="form-control" rows="5" id="example" style="resize:none"></textarea>
              </div>
            </div>
                            
            <div class="form-group">        
              <div class="col-sm-offset-2 col-sm-10">
                <button id="btnExampleOk" type="submit" class="btn btn-default">Submit</button>
              </div>
            </div>
                    
          </form>       
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default btnModal" data-dismiss="modal">Close</button>
            </div>
            
        </div>
                
    </div>
</div>