<form>
        <label>Verbo: </label>
        <label id="myVerbo"></label>
        <br/>
        <button id="Crear" type="button" class="btn btn-success">Crear Verbo</button>
        <button id="CrearExample" type="button" class="btn btn-success">Crear Ejemplo</button>
        <button id="Obtener" type="button" class="btn btn-primary">Obtener</button>
        <button id="Actualizar" type="button" class="btn btn-warning">Actualizar</button>
        <button id="Eliminar" type="button" class="btn btn-danger">Eliminar</button>
    </form>