<table class="table table-striped">
        <thead>
            <tr>
                <th>_id</th>
                <th>Verb</th>
                <th>past_tense</th>
                <th>past_participle</th>
                <th>topic</th>
            </tr>
        </thead>
        <tbody id="tablaVerbs">
                  
        </tbody>
    </table>